In [1]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
# Load files
data_path = ''
train = pd.read_csv(data_path + 'Train.csv')
test = pd.read_csv(data_path + 'Test.csv')
sample_submission = pd.read_csv(data_path + 'SampleSubmission.csv')
var_desc = pd.read_csv(data_path + 'VariableDescription.csv')

In [13]:
var_desc.head()

          Variable Name           Variable Label Answer Label
0              child_id          Unique child ID   Open ended
1             data_year  Year data was collected   Open ended
2            child_date                ELOM date   Open ended
3             child_age      Child age in months   Open ended
4  child_enrolment_date     Date enrolled in ELP   Open ended

In [10]:
# Preview files
train.head()
train.columns.value_counts()

country                   1
year                      1
uniqueid                  1
bank_account              1
location_type             1
cellphone_access          1
household_size            1
age_of_respondent         1
gender_of_respondent      1
relationship_with_head    1
marital_status            1
education_level           1
job_type                  1
dtype: int64

In [4]:
test.head()

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_6056,Urban,Yes,3,30,Male,Head of Household,Married/Living together,Secondary education,Formally employed Government
1,Kenya,2018,uniqueid_6060,Urban,Yes,7,51,Male,Head of Household,Married/Living together,Vocational/Specialised training,Formally employed Private
2,Kenya,2018,uniqueid_6065,Rural,No,3,77,Female,Parent,Married/Living together,No formal education,Remittance Dependent
3,Kenya,2018,uniqueid_6072,Rural,No,6,39,Female,Head of Household,Married/Living together,Primary education,Remittance Dependent
4,Kenya,2018,uniqueid_6073,Urban,No,3,16,Male,Child,Single/Never Married,Secondary education,Remittance Dependent

In [5]:
sample_submission.head()

            unique_id  bank_account
0  uniqueid_1 x Kenya             0
1  uniqueid_2 x Kenya             0
2  uniqueid_3 x Kenya             0
3  uniqueid_4 x Kenya             0
4  uniqueid_5 x Kenya             0

In [6]:
# Split data for training and local testing

X = train.drop(['ID', 'Yield'], axis = 1)
X =X.select_dtypes(include=np.number)
y = train.Yield

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 1234)

# Instantiate model
model = RandomForestRegressor(random_state = 1234)

# Fit model
model.fit(X_train.fillna(0), y_train)

# Make predictions
preds = model.predict(X_test.fillna(0))

# Measure model performance
mean_squared_error(y_test, preds, squared=False)

KeyError: "['ID' 'Yield'] not found in axis"

In [ ]:
# Make predictions on the Zindi test set
test_df = test[X.columns]
preds = model.predict(test_df.fillna(0))

# Create submisiion file to be uploaded to Zindi for scoring
sub = pd.DataFrame({'ID': test.ID, 'Yield': preds})
sub.to_csv('BenchmarkSubmission.csv', index = False)

sub.head()

                ID   Yield
0  ID_F9XXEXN2ADR2  671.40
1  ID_SO3VW2X4QO93  417.09
2  ID_UKUQ7JM8E894  493.95
3  ID_QUISMWEZR2H4  328.80
4  ID_25JGI455VKCZ  537.19